<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <base href="/">
  <title>{% block title %}{% endblock %} - {{ e.get('website.name', 'Expresso') }} {{ e.get('website.version', 'v0.1.0') }}</title>
  <link rel="stylesheet" href="/css/codemirror/5.41.0.min.css">
  <link rel="stylesheet" href="/css/spectre/0.5.5.min.css">
  <link rel="stylesheet" href="/css/expresso/0.1.0.min.css">
  <link rel="stylesheet" href="/css/expresso/0.1.0-dark.min.css">

  {% block styles %}{% endblock %}
</head>
<body>
  {% include 'e.navbar.twig' %}

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  {% block scripts %}{% endblock %}
</body>
</html>