<div class="e-navbar">
  <div class="container">
    <header class="navbar" style="padding-top: 1rem; padding-bottom: 1rem;">
      <section class="navbar-section">
        <a href="/" class="navbar-brand mr-2 text-bold">
          <span>{{ e.get('website.name', 'Expresso') }}</span>
          <small>{{ e.get('website.version', 'v0.1.0') }}</small>
        </a>
      </section>
      <section class="navbar-section">
        <a href="/pages/create" class="btn btn-link">New Page</a>
        <a href="/build" class="btn btn-link">Build</a>
      </section>
    </header>
  </div>
</div>