{% extends 'layout.twig' %}

{% block content %}
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sed earum tempore veritatis porro esse eveniet laborum, optio ratione nam consectetur cum accusantium, obcaecati quae, dignissimos quod unde nemo incidunt!</p>
{% endblock %}