{% extends 'layout.twig' %}

{% block content %}
  <form action="/new" method="POST">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="title" class="col-form-label">Title</label>
          <input type="text" name="title" class="form-control" id="title" required>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="slug" class="col-form-label">Slug</label>
          <input type="text" name="slug" class="form-control" id="slug">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="title" class="col-form-label">Content</label>
      <textarea name="content" id="content" cols="30" rows="10"></textarea>
    </div>
    <div class="form-group">
      <a class="btn btn-secondary" href="/">Cancel</a>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplemde/1.11.2/simplemde.min.js"></script>

  <script>
    var options = { element: $("#content")[0] };

    options.indentWithTabs = false;

    var editor = new SimpleMDE(options);
  </script>
{% endblock %}